.page {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.gallery {
  width: 50%;
  text-align: center;
}

.mainimg {
  height: 450px;
  width: 450px;
}

.galleryimg {
  height: 100px;
  width: 100px;
  margin: 5px;
  cursor: pointer;
}

.galleryimg:hover {
  filter: brightness(50%);
  transition: 0.2s;
}

.description {
  width: 50%;
  text-align: left;
}

h1 {
  text-align: center;
}

ul li,
ol li {
  list-style: none;
}
ol {
  padding: 0px;
}
ol li {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  font-size: 20px;
}

p{
  margin: 2px;
  font-size: 20px;
}
li div:nth-child(2) {
  flex: 1 0;
  border-bottom: 1px dotted #000;
  height: 1em;
}

progress[value]{
  appearance: none;
  width: 92%;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

button {
  box-sizing: border-box;
  margin-top: 10px;
  display: block;
  width: 92%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  background: rgb(157, 192, 139);
  border-color: transparent;
  color: rgb(64, 81, 59);
  cursor: pointer;
}

@media (max-width: 900px){
  .page {
    flex-direction: column;
  }
  .description {
    width: 100%;
    margin-left: 20px;
  }
  .gallery {
    width: 100%;
  }

}

/* .leftcolumn {
    float: left;
    width: 100%;
  }

  .listimg {
    width: 30%;
    height: 400px;
    padding: 10px;
  }

  .imgs{
    text-align: center;
  }

  .card {
    background-color: rgb(237, 241, 214);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
  }

  .cardheaders {
    background: rgb(157, 192, 139);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(237, 241, 214);
    border-radius: 20px;
    font-size: 24px;
  }

  p {
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    color: rgb(237, 241, 214);
    font-size: 36px;
  }

  .description {
    text-align: center;
    font-size: 18px;
    color:rgb(64, 81, 59);
  }

  progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 250px;
    height: 20px;
  }

  progress[value]::-webkit-progress-bar {
    background-color: rgb(237, 241, 214);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgb(64, 81, 59) inset;
  }

  progress[value]::-webkit-progress-value {
    background-image:
       -webkit-linear-gradient(left, rgb(64, 81, 59), rgb(157, 192, 139));

      border-radius: 2px;
      background-size: 35px 20px, 100% 100%, 100% 100%;
  }

  @media screen and (max-width: 900px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  } */
