<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="header">
    <p>ЭкоЦивилизация</p>
    <div class="rightspace">
      <div class="search">
        <input type="text" name="search" placeholder="Поиск..">
      </div>
      <div class="dropdown">
        <img class="btn" src="assets/img/account.png"/>
        <div class="dropdown-content">
          <a href="#">Добавить</a>
          <a href="#">Статистика</a>
        </div>
      </div>
    </div>
</div>

<div>
  <ul class="menu-main">
    <li><a href="" class="current">Главная</a></li>
    <li><a href="">Добавить</a></li>
    <li><a href="">Статистика</a></li>
  </ul>
</div>

<div class="main">
    <router-outlet></router-outlet>
</div>
